<app-user-info></app-user-info>
<ul>
    <li>un loading mientras carga el user y los repos?</li>
    <li>responsive tamaños pantalla
        <ul>
            <li>- repos: disminuir tamaño del texto</li>
            <li>- ocultar columna descripcion</li>
            <li>- acortar el enlace de los repos</li>
        </ul>
    </li>
    <li>accesibilidad</li>
    <li>Ordenacion de la tabla</li>
    <li>tamaños definidos en las columnas de la tabla</li>
    <li>Parece que solo se cargan 30 repos cada vez</li>
</ul>