.repo-url,
.stars {
  width: 12%;
  max-width: 40px;
}

.repo-url img {
  max-width: 25px;
  min-width: 18px;
}


table.tableSection {
  display: table;
  width: 100%;

}

table.tableSection thead,
table.tableSection tbody {
  width: 100%;
  font-size: 16px;
}

table.tableSection thead {
  display: table;
  table-layout: fixed;
}

.description {
  overflow-wrap: break-word;
  max-width: 200px;
}

@media screen and (max-width: 600px) {

  table.tableSection thead,
  table.tableSection tbody {
    font-size: 14px;
  }

  tr .description {
    display: none;
  }

}

table.tableSection tbody {
  overflow-y: auto;
  max-height: 57vh;
  display: block;
}

table.tableSection tr {
  width: 100%;
  display: table;
  table-layout: fixed;
}

table.tableSection tr th,
table.tableSection tbody td {
  min-width: 150px;
}