<table class="tableSection">
    <thead>
        <tr>
            <th name="name" (click)="sortReposByName()">NOMBRE</th>
            <th name="description">DESCRIPCION</th>
            <th name="url">URL</th>
            <th name="stars" (click)="sortReposByStars()">
                <img src="/assets/star.svg" alt="ESTRELLAS" />
            </th>
            <th name="lenguajes">LENGUAJES</th>
        </tr>
    </thead>

    <tbody>
        <ng-container *ngIf="!reposEmpty; else reposNotFound">
            <tr *ngFor="let repo of reposShown">
                <td>{{repo.name}}</td>
                <td>{{repo.description}}</td>
                <td class="repo-url">
                    <p class="repo-url-link"><a href="{{repo.html_url}}">{{repo.html_url}}</a></p>
                </td>
                <td class="center-text">{{repo.stargazers_count}}</td>
                <td><span *ngFor="let language of repo.languages_array">{{language}} </span></td>
            </tr>
        </ng-container>

        <ng-template #reposNotFound>
            <td colspan="5">
                <app-not-found class="center-text" [error]="error"></app-not-found>
            </td>
        </ng-template>

    </tbody>
</table>