<app-navbar #result></app-navbar>
<main class="wrapper">
    <ng-container *ngIf="result.found && !result.errorUser; else errorMessage">
        <div class="user-details">
            <div class="avatar">
                <img src="{{result.user.avatar_url}}" alt="AVATAR">
            </div>
            <div>
                <h2>{{result.user.login}}</h2>
                <p>{{result.user.bio}}</p>
            </div>
        </div>
        <div class="repo-search">
            <input type="text" [(ngModel)]="filterRepos" placeholder="Buscar repo del usuario" />
            <div class="languages-wrapper">
                <label *ngFor="let language of result.allLanguages">
                    <input type="radio" name="filterLanguage" value="{{language}}"
                        [(ngModel)]="filterLanguage">{{language}}
                </label>
                <label>
                    <input type="radio" name="filterLanguage" value="Todos" [(ngModel)]="filterLanguage">Todos
                </label>
            </div>

        </div>

        <div class="repo-wrapper">
            <app-repos [repos]="result.repos" [filter]="filterRepos" [language]="filterLanguage"></app-repos>
        </div>
    </ng-container>
</main>
<ng-template #errorMessage>
    <div class="error-wrapper">
        <app-not-found [error]="result.errorUser"></app-not-found>
    </div>
</ng-template>